#opcion_verde {color: #25a342;}

.navbar-brand img{max-width: 100px;}

.carousel-item {opacity: .9;}

.contenedor{
text-align: center;
font-size: small;
}

#cards{
    width: 60%;
    margin: auto;
}

#contenedor-2 {width: 100%; }


.col-lg-6{
    background-color:rgb(71, 68, 68);
    color: white;
    padding: 10px !important;
}

#boton-javascript{
    background-color: yellow;
    color: black;
    border: none;
}

#boton-react{
    background-color: aquamarine;
    color: white;
    border: none;
}

#boton-startups{
    background-color: red;
    color: white;
    border:none;
}

#name{
    width: 50% !important;
    margin: auto;
}

#botonenviar{
    background-color: #25a342;
    color: white;
    border: none;
    text-decoration: none;
}

#Tarjetas-venta{
    width: 60%;
    margin: auto;
    
  }


  #valor-ticket{
      width: 50%;
      text-align: center;
      margin: auto;
  
  }
  
  .card{
      text-align: center;
  }
  
  #Borrar{
      background-color:rgb(7, 220, 7);
  }
  
  #resumen{
      background-color: rgb(7, 220, 7);
  
  }
  
  #valor3{
      color: black;
     font-size:xx-large;
     font-weight: 700;
     background-color: rgba(125, 204, 228, 0.964);
  
  }
  
  .alert{
      background-color:rgba(125, 204, 228, 0.964) !important ;
  }
